# ==============================================================================
# Fichier de configuration pour l'outil de couverture de code "coverage.py"
# ==============================================================================

[run]
source = backend
branch = True

[report]
show_missing = True
sort = Name


omit =
    # Fichiers de configuration de Django, peu pertinents à tester
    backend/settings.py
    backend/asgi.py
    backend/wsgi.py
    */urls.py

    # Ne jamais tester les migrations
    */migrations/*

    # Fichiers de base de Django souvent non modifiés
    */apps.py
    */admin.py
    */views.py
    */serializer.py
    */authentication.py
    */validators.py

    # On ne mesure pas la couverture des tests eux-mêmes
    */tests.py


exclude_lines =
    pragma: no cover

    # Ne pas se soucier de tester les définitions de méthodes abstraites
    raise NotImplementedError

    # Exclure les blocs de démarrage de script
    if __name__ == .__main__.:

    # Exclure les importations utilisées uniquement pour le typage statique
    if TYPE_CHECKING:
