[run]
omit =
    */migrations/*
    base/authentication.py
    base/validators.py
    base/views.py
    base/serializer.py

[report]
exclude_lines =
    pragma: no cover
    def __str__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:

show_missing = true
